<div class="main-card-background">
  <h2>
    <span>{{ sportName }} Leagues</span>
    <mat-icon>leaderboard</mat-icon>
  </h2>

  <div class="cards_wrapper">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let country of countries"
        [routerLink]="'/competition/' + country.idLeague"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img width="30" [src]="country.strBadge" />
            <span>
              {{ country.strLeague }}
              ({{ country.strCountry }})
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
